.heroSection {
  height: calc(100vh - 30px - 36px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

.header {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.title {
  color: #fff;
  font: bold 122px "nasalization", sans-serif;
  line-height: 127px;
}

#secondTitleText {
  font-size: 150px;
  letter-spacing: 3px;
}

.header img {
  height: auto;
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: 450px;
}

#planetImg {
  height: auto;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 150px;
}

/* ====================================== */
/*          RESPONSIVE LAYOUT             */
/* ====================================== */

@media (max-width: 1024px) {
  .header {
    margin-top: 95px;
  }

  .title {
    font-size: 100px;
  }

  #secondTitleText {
    font-size: 122px;
  }
}
