.aboutSection {
  width: 100%;
  margin-top: 115px;
  display: flex;
  background: #000;
}

/*       Left Section      */
/* ======================= */

.leftSection {
  margin-top: 144px;
  margin-left: 115px;
  display: flex;
  flex-direction: column;
}

.textBlock {
  width: 640px;
  margin-top: 55px;
}

.title {
  font: 600 73px "poppins", sans-serif;
  background: linear-gradient(90deg, #9a9a9a, #eaeaea);
  line-height: 90px;
  letter-spacing: -0.25px;
  position: relative;
  background-clip: text;
  color: transparent;
}

.contentText {
  font: normal 20px "poppins", sans-serif;
  letter-spacing: -0.25px;
  position: relative;
  background: linear-gradient(90deg, #b8b6b6, #eaeaea);
  background-clip: text;
  color: transparent;
}

.applyButton {
  height: 58px;
  width: 287.08px;
  margin-top: 54px;
  border: none;
  border-radius: 50px;
  color: #dcdcdc;
  font: normal 20px "carme", sans-serif;
  background: #262626;
  cursor: pointer;
}

/*      Right Section      */
/* ======================= */

.rightSection {
  width: 100%;
  display: flex;
  justify-content: end;
}

.rightSection img {
  z-index: 100;
}

.glowingCircle {
  width: 280px;
  height: 740px;
  border-radius: 100%;
  background: rgba(4, 218, 245, 0.7);
  filter: blur(110px);
  position: absolute;
  top: 1270px;
  animation: glowWave 5s infinite ease-in-out;
}

@keyframes glowWave {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
}
