.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ======================= */
/*      Upper Section      */
/* ======================= */

.upperSection {
  display: flex;
  justify-content: space-between;
  height: 536px;
  width: 1065px;
}

.content {
  height: 289px;
  width: 724px;
  z-index: 100;
}

.titleContainer {
  height: 218px;
  width: 724px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 162px;
  gap: 8px;
}

.title {
  font:
    600 73px "poppins",
    sans-serif;
  line-height: 90px;
  letter-spacing: -0.25px;
  position: relative;

  display: inline-block;
  opacity: 0;
  animation: reveal 2s forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    letter-spacing: -1rem; /* Start with tight spacing */
  }
  50% {
    letter-spacing: 0; /* Normal spacing */
  }
  100% {
    opacity: 1; /* Fully visible */
  }
}

.subtitle {
  font:
    normal 20px "poppins",
    sans-serif;
  letter-spacing: -0.25px;
  position: relative;

  opacity: 0;
  transform: translateY(20px);
  animation: fade-up 1s forwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gradientShadowText::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #eaeaea 21%, #b8b6b6 100%);
  background-clip: text;
  color: transparent;
  z-index: 2;
}

.gradientShadowText::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-shadow: 2px 2px 10px #000;
  z-index: 1;
}

/*    Buttons    */
/* ------------- */

.buttonContainer {
  display: flex;
  gap: 1rem;

  opacity: 0;
  transform: translateY(20px);
  animation: fade-up 2s forwards;
}

.button {
  height: 41px;
  border: none;
  margin-top: 30px;
  border-radius: 50px;
  font:
    normal 20px "carme",
    sans-serif;
  cursor: pointer;
}

#primaryButton {
  width: 255px;
  border: none;
  color: #000;
  background: var(--secondary-color);
  background-size: 100% auto;
}

#primaryButton:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

#secondaryButton {
  width: 165px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

/*    Astronaut Image    */
/* --------------------- */

.imageContainer {
  height: 536px;
  width: 576px;
  margin-left: 489px;
  position: absolute;
}

.astronautImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ======================= */
/*      Lower Section      */
/* ======================= */

.lowerSection {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.glowingPage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.glowingPage img {
  width: 1065px;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  object-fit: contain;
  position: relative;
  z-index: 100;
}

/*    Background Glow    */
/* --------------------- */

.glowingCircle {
  width: 1100px;
  height: 200px;
  background: rgb(4, 218, 245);
  filter: blur(150px);
  opacity: 0.7;
  position: absolute;
  top: 0;
  border-radius: 50%;
  box-shadow: 0 0 100px 200px rgba(4, 218, 245, 0.3);
}

/*    Dark Ending    */
/* ----------------- */

.darkCircle {
  position: absolute;
  top: 370px;
  width: 100%;
  height: 260px;
  background: #000;
  filter: blur(50px);
  z-index: 200;
}
