.projectSection {
  margin-top: 100px;
}

/* ======================= */
/*     Meteoroid Shower    */
/* ======================= */

.meteoroidShower {
  position: relative;
  z-index: -50;
}

.meteoroidShower img {
  position: absolute;
  top: 0;
  left: 0;
}

/* ============================== */
/*     Project Card Container     */
/* ============================== */

.cardContainer {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font: 600 73px "poppins", sans-serif;
  background: linear-gradient(45deg, #9a9a9a 40%, #eaeaea);
  line-height: 90px;
  letter-spacing: -0.25px;
  position: relative;
  background-clip: text;
  color: transparent;
}

/* =========================== */
/*        Project Card         */
/* =========================== */

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  margin-top: 85px;
  position: relative;
  z-index: 100;
}

.projectCard {
  height: 145px;
  width: 486px;
  border-radius: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 25px rgba(8, 181, 249, 0.85);
  backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  font: 600 28px "poppins", sans-serif;
  background: linear-gradient(90deg, #9a9a9a, #eaeaea);
  letter-spacing: -0.25px;
  background-clip: text;
  color: transparent;
  margin-bottom: 13px;
}

.cardDescription {
  width: 414.39px;
  font: 10 16px "carme", sans-serif;
  letter-spacing: 0px;
  text-align: center;
}
