.setInMiddle {
  display: flex;
  justify-content: center;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
