.imageVisible {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transition: opacity 0.5s ease-in-out;
}

.imageVisible img {
  border-radius: 20px;
}

.imageHidden {
  opacity: 0;
}
