.imageVisible {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transition: opacity 0.5s ease-in-out;
}

.imageVisible img {
  max-width: 90%;
  border-radius: 20px;
}

.imageHidden {
  opacity: 0;
}
