.featureSection {
  width: 100%;
  padding-top: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  box-shadow: 0 0 70px 80px #000;
}

.title {
  font: bold 50px "Catamaran", sans-serif;
  line-height: 70px;
  left: 1%;
  text-align: center;
  background: linear-gradient(90deg, #9a9a9a, #eaeaea);
  background-clip: text;
  color: transparent;
}
