.navbar {
  height: 36px;
  width: 1065px;
  margin: 0 30px;
  margin-top: 30px;
  position: sticky;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logoContainer {
  flex: 1;
}

.logo {
  height: 100%;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  font: normal 20px "Carme", sans-serif;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
}

.navLinks a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

#githubButton {
  height: 30px;
  width: 176px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  font: normal 20px "Carme", sans-serif;
  cursor: pointer;
}

#signinButton {
  height: 30px;
  width: 85px;
  color: #000;
  background: var(--secondary-color);
  border: none;
  border-radius: 20px;
  font: normal 20px "Carme", sans-serif;
  cursor: pointer;
}

/*        User Section        */
/* ========================== */

.userSection {
  position: relative;
}

.userContainer {
  position: relative;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.2s;
}

.avatar:hover {
  opacity: 0.8;
}

.dropdown {
  width: 280px;
  padding: 0.5rem 0;
  top: calc(100% + 8px);
  right: 0;
  position: absolute;
  background: #0d1017;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdownHeader {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.dropdownAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 500;
  color: #fff;
}

.userEmail {
  font-size: 0.875rem;
  color: #c2c2c2;
}

.dropdownDivider {
  height: 1px;
  background: #373636;
  margin: 0.5rem 0;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  background: none;
  border: none;
  font-size: 0.875rem;
  color: #fff;
  cursor: pointer;
  font-family: "carme", sans-serif;
}

.dropdownItem:hover {
  background-color: #171c25;
}
