.section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #090c13;
}

.title {
  font: 600 45px "poppins", sans-serif;
  background: linear-gradient(90deg, #9a9a9a, #eaeaea);
  line-height: 70px;
  letter-spacing: -0.25px;
  position: relative;
  background-clip: text;
  color: transparent;
}

.contentText {
  font: normal 18px "poppins", sans-serif;
  letter-spacing: -0.25px;
  position: relative;
  background: linear-gradient(90deg, #b8b6b6, #eaeaea);
  background-clip: text;
  color: transparent;
  text-align: center;
}

/*        Form        */
/* ================== */

.form {
  display: flex;
  flex-direction: column;
  background: #101010;
  padding: 30px;
  margin: 30px 0;
  width: 450px;
  border-radius: 20px;
  font-family: "poppins", sans-serif;
  box-shadow: 0 0 1.5px #ececec;
}

::placeholder {
  font-family: "poppins", sans-serif;
}

.form button {
  align-self: flex-end;
}

.flexColumn {
  margin: 15px 0;
  color: #ececec;
  font: 500 16px "poppins", sans-serif;
}

/*        Input Fields        */
/* ========================== */

.inputForm {
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 1px #ececec;
}

.input {
  height: 100%;
  width: 85%;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background: #101010;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  box-shadow: none;
  border: 1.5px solid #2d79f3;
}

/*        Donate Button        */
/* =========================== */

.donateButton {
  height: 50px;
  width: 100%;
  margin: 20px 0 10px 0;
  background: #4caf50;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.donateButton:hover {
  background-color: #45a049;
}

/* ====================================== */
/*          RESPONSIVE LAYOUT             */
/* ====================================== */

@media (max-width: 1024px) {
  .title {
    font-size: 42px;
    line-height: 60px;
  }
}

@media (max-width: 774px) {
  .title {
    font-size: 30px;
    line-height: 45px;
  }
}
