

.donateNavbar{
    height: 36px;
    width: 1065px;
    margin: 0 30px;
    margin-top: 30px;
    position: sticky;
    z-index: 1000;
    padding-top: 5px;
  
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
   color: white;
  

}

.redirectButton{
    text-decoration: none;
    background-color: white;
    color: black;
    font: normal 15px   sans-serif;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    
}

.redirectButton:hover{
    
    font: normal 16px   sans-serif;
    font-size: 16px;
    letter-spacing: -0.25px;
    transition: transform 0.3s ease;
}